
.thumbnail{
  width: 100%;
  
} 

.video-info-grid{
  display:grid;
  grid-template-columns: 50px  1fr;
}
.channel-picture{
  display:INLINE-block;
  width: 40px;
  vertical-align: top;

}
.video-title{
  margin-top: 0;
  font-size:14px;
  font-weight:500;
  line-height: 20px;
  margin-bottom: 12px;

}
.video-stats,
.video-author{
  font-size: 13px;
  color: rgb(96 96 96);
}
.video-author{
  margin-bottom: 4px;
}

.video-info{
  display:inline-block;
  width: 250px;
  margin-top: 0;

  
}

.profile-picture {
  width: 40px;
  border-radius: 40px;
  vertical-align:top;
 
  
}
.thumbnail-row {
  margin-botton:12px;
  position: relative;
}
.video-grid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:16px;
  row-gap:40px;
 
}
.first-time-1
{
  background-color: black;
  color:aliceblue;
  position: absolute;
  right:10px;
  bottom:10px;
  z-index: 2;
 border-radius: 2px;
  height: 20px;
 width: 40px;

}
.first-time-2{
  background-color: black;
  color:aliceblue;
  position: absolute;
  right:10px;
  bottom:10px;
  z-index: 2;
 border-radius: 2px;
  height: 20px;
 width: 40px
}
.first-time-3{
  background-color: black;
  color:aliceblue;
  position: absolute;
  right:10px;
  bottom:10px;
  z-index: 2;
 border-radius: 2px;
  height: 20px;
 width: 40px
}
.first-time-4{
  background-color: black;
  color:aliceblue;
  position: absolute;
  right:10px;
  bottom:10px;
  z-index: 2;
 border-radius: 2px;
  height: 20px;
 width: 40px
}
.first-time-5{
  background-color: black;
  color:aliceblue;
  position: absolute;
  right:10px;
  bottom:10px;
  z-index: 2;
 border-radius: 2px;
  height: 20px;
 width: 40px
}
.first-time-6{
  background-color: black;
  color:aliceblue;
  position: absolute;
  right:10px;
  bottom:10px;
  z-index: 2;
 border-radius: 2px;
  height: 20px;
 width: 40px
}
.notification-no{
  position:relative
}
.notify{
position: absolute;
top: -3px;
right: -5px;
background-color: rgb(200, 0, 0);
color: white;
font-family: Roboto,Arial;
font-size: 12px;
padding-left: 6px;
padding-right: 6px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 10px;
 

}


